.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
File_System.iml
.idea/vcs.xml
out/production/File_System/IO_System.class
out/production/File_System/input.txt
out/production/File_System/File_System.class
out/production/File_System/File_System$OFTEntry.class
disk0.txt
output.txt
40519398.txt
input.txt
test-sample-sv.txt
*.MF
*.xml
